<header>
    <h1>Conversor</h1>
    <nav>
        <ul>
            <li><a href="velocidade">Velocidade</a></li>
            <li><a href="temperatura">Temperatura</a></li>
            <li><a href="tempo">Tempo</a></li>
            <li><a href="peso">Peso</a></li>
            <li><a href="comprimento">Comprimento</a></li>
        </ul>
    </nav>
</header>
<main>
    <app-speed-converter />
</main>
<footer>
    <p>Projeto didático - Desenvolvido por <a href="https://portifolio-tawny-seven-32.vercel.app/" target="_blank">Alan Sousa</a></p>
    <a href="https://github.com/Alanssrv/conversor-web" target="_blank">
        <img src="assets/github-mark.png" alt="Logo do Github" style="height: 25px;"> Repositório do projeto
    </a>
</footer>